<div class="layout" fxLayout="column">
  <div class="toolbar" fxLayout="row">
    <button type="button" mat-button color="primary" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div fxFlex fxLayout="row-reverse">
      <span *ngIf="loggedIn">{{ user.name }} </span>
      <span *ngIf="!loggedIn">
        <asl-google-signin-button
          type="icon"
          size="medium"
        ></asl-google-signin-button>
      </span>
    </div>
  </div>

  <div class="content" fxFlex="1 0 auto">
    <mat-drawer-container autosize style="height: 100%">
      <router-outlet></router-outlet>

      <mat-drawer #drawer mode="over" position="start">
        <mat-list>
          <mat-list-item *ngFor="let item of menuItem">
            {{item.label}}
          </mat-list-item>
        </mat-list>
      </mat-drawer>
    </mat-drawer-container>
  </div>
</div>
